<mat-toolbar color="primary">
  <mat-toolbar-row class="align-items-center">
    <button mat-icon-button>
      <mat-icon>home</mat-icon>
    </button>

    <button class="ms-3" mat-button  [routerLink]="authConfigService.urlDefault">
      Formularios
    </button>
    <span class="spacer"></span>

    <span>{{ user | name}}</span>
    <button class="ms-2" mat-icon-button matTooltip="Cerrar sesión" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>