// SUFIX AND PREFIX BUTTONS
.btn-prefix, .btn-suffix {
  height: 14px;
  width: 14px;
}

.btn-prefix { margin-right: 5px; }
.btn-suffix { margin-left: 5px; }
// END SUFIX AND PREFIX BUTTONS


button.btn:disabled {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  color: #a9a9a9;
}

.btn-sm {
  height: 28px;
}