// scss-docs-start btn-variables
// $btn-padding-y-sm: 7px;
// $btn-padding-x-sm: 10px;
$btn-font-size-sm: 12px;
$btn-font-size: 14px;
$btn-font-size-lg: 16px;
$btn-line-height: 1;
// scss-docs-end btn-variables

// scss-docs-start form-input-variables
// $input-font-size: 16px;
// $input-padding-y: 7.5px;
// $input-padding-x: 15px;
// scss-docs-end form-input-variables

// scss-docs-start form-label-variables
$form-label-margin-bottom:              9px;
$form-label-font-size:                  15px;
// scss-docs-end form-label-variables

// scss-docs-start form-states
$form-feedback-margin-top: 0;
// scss-docs-end form-states