.wrapper-card {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 100%;
  padding-bottom: 10vh;
}

.card-active {
  display: flex;
  position: relative;
}

.card-item {
  margin: 0 auto;
  width: 600px;
}
