<section class="wrapper-card">
  <ng-container *ngFor="let item of dynamicFormControls; let index = index">
    <app-question-preview
      *ngIf="index !== indexActive; else isActive"
      [data]="item"
      [typesControlObject]="typesControlObject"
      class="card-item"
      (edit)="initEditDynamicFormControl(index)">
    </app-question-preview>

    <ng-template #isActive>
      <app-question
        [data]="item"
        [typesControls]="typesControls"
        (create)="saveDynamicFormControl()"
        (changes)="updateDynamicFormControl($event)"
        (remove)="removeDynamicFormControl()"
        class="card-active">
      </app-question>
    </ng-template>
  </ng-container>
</section>