<div class="tab-content-header">
  <div class="header-left">
    <h1 class="title" *ngIf="title">{{title}}</h1>
    <p class="subtitle" *ngIf="subtitle">{{subtitle}}</p>
  </div>
  <div class="header-right">
    <div class="search">
      <input
        class="form-control form-control-search"
        type="search"
        [formControl]="search"
        (keyup.enter)="initSearch()"
        (keyup.esc)="clearSearch()"
        placeholder="Buscador de recursos">
        <i class="fa-solid fa-magnifying-glass" (click)="initSearch()"></i>
    </div>

    <!-- <input
      class="native-form-control native-form-control-rounded"
      type="search"
      placeholder="Buscador de recursos"> -->
  </div>
</div>


<div class="body">
  <div class="input-group">
    <input
      class="native-form-control"
      type="search"
      placeholder="Buscador de recursos">
  </div>

  <input
      class="native-form-control native-form-control-search"
      type="search"
      disabled
      placeholder="Buscador de recursos">

</div>