
.tab-content-header {
  display: grid;
  grid-template-columns: 65fr minmax(120px, 300px);
  column-gap: 40px;
  min-height: 40px;
  align-items: start;
}

.header-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  & .title {
    width: 100%;
    font-family: Roboto;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 35px;
  }

  & .subtitle {
    width: 100%;
    font-family: Roboto;
    font-size: 15px;
    letter-spacing: -0.2px;
    line-height: 18px;
  }
}

.form-control-search {
  border: none;
  border-radius: 19px;
}
