<ui-main>
  <ui-sidebar sidebar [header]="header">
    <ui-sidebar-filter  content-after
      [disabled]="true"
      (clear)="clearFilters()">
    </ui-sidebar-filter>
  </ui-sidebar>

  <native-tab-group content>
    <!-- 1 TAB AUDIOS -->
    <native-tab
      [textLabel]="tabs[0].textLabel"
      [iconLabel]="tabs[0].iconLabel"
      [iconLabelActive]="tabs[0].iconLabelActive"
    >
      <ng-template nativeTabContent>
        <app-audios [tab]="tabs[0]"></app-audios>
      </ng-template>
    </native-tab>
    <!-- END AUDIOS -->

    <!-- 2 TAB VIDEOS -->
    <native-tab
      [textLabel]="tabs[1].textLabel"
      [iconLabel]="tabs[1].iconLabel"
      [iconLabelActive]="tabs[1].iconLabelActive"
    >
      <ng-template nativeTabContent>
        <app-audios [tab]="tabs[1]"></app-audios>
      </ng-template>
    </native-tab>
    <!-- END VIDEOS -->

    <!-- 3 TAB IMPRIMIBLES -->
    <native-tab
      [textLabel]="tabs[2].textLabel"
      [iconLabel]="tabs[2].iconLabel"
      [iconLabelActive]="tabs[2].iconLabelActive"
    >
      <ng-template nativeTabContent>
        <app-audios [tab]="tabs[2]"></app-audios>
      </ng-template>
    </native-tab>
    <!-- END IMPRIMIBLES -->

    <!-- 4 TAB INTERACTIVOS -->
    <native-tab
      [textLabel]="tabs[3].textLabel"
      [iconLabel]="tabs[3].iconLabel"
      [iconLabelActive]="tabs[3].iconLabelActive"
    >
      <ng-template nativeTabContent>
        <app-audios [tab]="tabs[3]"></app-audios>
      </ng-template>
    </native-tab>
    <!-- END INTERACTIVOS -->

    <!-- 5 TAB LIBROS DE TEXTO -->
    <native-tab
      [textLabel]="tabs[4].textLabel"
      [iconLabel]="tabs[4].iconLabel"
      [iconLabelActive]="tabs[4].iconLabelActive"
    >
      <ng-template nativeTabContent>
        <app-audios [tab]="tabs[4]"></app-audios>
      </ng-template>
    </native-tab>
    <!-- END LIBROS DE TEXTO -->

    <!-- 6 TAB GUÍAS DEL PROFESOR -->
    <native-tab
      [textLabel]="tabs[5].textLabel"
      [iconLabel]="tabs[5].iconLabel"
      [iconLabelActive]="tabs[5].iconLabelActive"
    >
      <ng-template nativeTabContent>
        <app-audios [tab]="tabs[5]"></app-audios>
      </ng-template>
    </native-tab>
    <!-- END GUÍAS DEL PROFESOR -->

    <!-- 7 TAB LIBROS DE TEXTO DESCARGABLES -->
    <native-tab
      [textLabel]="tabs[6].textLabel"
      [iconLabel]="tabs[6].iconLabel"
      [iconLabelActive]="tabs[6].iconLabelActive"
    >
      <ng-template nativeTabContent>
        <app-audios [tab]="tabs[6]"></app-audios>
      </ng-template>
    </native-tab>
    <!-- END LIBROS DE TEXTO DESCARGABLES -->

    <!-- 8 TAB LIBROS EXPORTACIÓN -->
    <native-tab
      [textLabel]="tabs[7].textLabel"
      [iconLabel]="tabs[7].iconLabel"
      [iconLabelActive]="tabs[7].iconLabelActive"
    >
      <ng-template nativeTabContent>
        <app-audios [tab]="tabs[7]"></app-audios>
      </ng-template>
    </native-tab>
    <!-- END LIBROS EXPORTACIÓN -->

  </native-tab-group>
</ui-main>