<h1>tab-group view implementation</h1>
<div class="wrapper">
  <native-tab-group (selectedTabChange)="changeTab($event)" *ngIf="true">
    <native-tab
      [textLabel]="tabs[0].textLabel"
      [iconLabel]="tabs[0].iconLabel"
      [iconLabelActive]="tabs[0].iconLabelActive"
    >
      <ng-template nativeTabContent>
        <app-list [title]="tabs[0].textLabel" description="body 1">
        </app-list>
      </ng-template>
    </native-tab>

    <native-tab
      [textLabel]="tabs[1].textLabel"
      [iconLabel]="tabs[1].iconLabel"
      [iconLabelActive]="tabs[1].iconLabelActive"
    >
      <ng-template nativeTabContent>
        <app-list [title]="tabs[1].textLabel" description="body 2">
        </app-list>
      </ng-template>
    </native-tab>

    <native-tab
      [textLabel]="tabs[2].textLabel"
      [iconLabel]="tabs[2].iconLabel"
      [iconLabelActive]="tabs[2].iconLabelActive"
    >
      <ng-template nativeTabContent>
        <app-list [title]="tabs[2].textLabel" description="body 3">
        </app-list>
      </ng-template>
    </native-tab>
  </native-tab-group>

  <hr />
  
  <mat-tab-group *ngIf="false">
    <mat-tab [label]="tabs[0].textLabel">
      <ng-template matTabContent>
      <app-list [title]="tabs[0].textLabel" description="body 1">
      </app-list>
      </ng-template>
    </mat-tab>
    <mat-tab [label]="tabs[1].textLabel">
      <ng-template matTabContent>
      <app-list [title]="tabs[1].textLabel" description="body 2">
      </app-list>
      </ng-template>
    </mat-tab>
    <mat-tab [label]="tabs[2].textLabel">
      <ng-template matTabContent>
      <app-list [title]="tabs[2].textLabel" description="body 3">
      </app-list>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>


   <!-- <native-tab
     *ngFor="let tab of tabs"
      [textLabel]="tab.textLabel"
      [iconLabel]="tab.iconLabel"
      [iconLabelActive]="tab.iconLabelActive"
    >
      <h1>Content 1</h1>
    </native-tab> -->