.ui-main {
  display: flex;
  flex: 1 1 auto;
  padding: var(--ui-main-padding-y) 0;
  background-color: #ffff;
  height: calc(100vh - var(--height-header));
}

.ui-main-content {
  padding-right: 20px;
  flex: 1 1 auto;
}