$height-header: 60px;

.ui-main {
  display: flex;
  flex: 1 1 auto;
  padding: 40px 0;
  background-color: #ffff;
  height: calc(100vh - $height-header);
}

.ui-main-content {
  padding-right: 20px;
}