<mat-card class="card-item">
  <mat-card-content>
    <form class="form" [formGroup]="form">
      <div class="row">
        <div class="col-lg-6">
          <mat-form-field class="form-input-field">
            <mat-label class="form-label-field">Pregunta</mat-label>
            <input matInput type="text" #labelFocus placeholder="Pregunta" formControlName="label">
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-form-field class="form-input-field">
            <mat-label>Tipo de pregunta</mat-label>
            <mat-select formControlName="typeControl">
              <mat-option *ngFor="let item of typesControls" [value]="item.id">
                {{item.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <app-question-options
          [dynamicFormControlId]="data.id!"
          [typeControl]="typeControlId!"
          [disabled]="disabled"
        >
        </app-question-options>
      </div>
    </form>
  </mat-card-content>

  <div class="group-buttons">
    <button mat-icon-button color="primary" [disabled]="disabled" clickFocusRemove (click)="addNew()">
      <mat-icon>add_circle_outline</mat-icon>
    </button>

    <button mat-icon-button color="warn" [disabled]="disabled" clickFocusRemove (click)="delete()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</mat-card>