.header-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  & > .title {
    color: var(--app-primary);
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -0.32px;
    line-height: 28px;
    margin: 0;
  }
}