$background-color: #f2f2f2;
$tab-color: #f2f2f2;
$tab-text-color: #444444;

.content-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 0 17px 17px 17px;
  background-color: $background-color;
}