.header {
  height: 60px;
  background-color: #004C98;
  color: #ffffff;
  display: flex;
  align-items: center;

}

ul, li {
  display: flex;
}
ul {
  flex-direction: row;
  justify-content: center;
  column-gap: 1rem;
  margin: 0;
  width: 100%;
}

li {
  background-color: white;
  color: #004C98;
  padding: 0.5rem;
  cursor: pointer;
}