/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(244, 244, 244);
}

::-ms-reveal {
  display: none;
}
.form-input-field {
  width: 100%;
  display: block;
  font-size: 1rem;
}

.pointer {
  cursor: pointer;
}

.mat-mdc-form-field-focus-overlay,
.mdc-text-field--filled {
  background-color: #fff !important;
}
