@import './styles/ui/ui.scss';
@import '../node_modules/bootstrap/scss/bootstrap.scss';


* {
  font-family: Roboto;
  box-sizing: border-box;
}

*, *:active, *:hover, *:focus  {
  outline: none!important;
}


html,
body {
  height: 100%;
  font-family: Roboto;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  // background-color: rgb(55, 48, 48);
  background-color: rgb(255, 255, 255);
}

::-ms-reveal {
  display: none;
}
.form-input-field {
  width: 100%;
  display: block;
  font-size: 1rem;
}

.pointer {
  cursor: pointer;
}

.mat-mdc-form-field-focus-overlay,
.mdc-text-field--filled {
  background-color: #fff !important;
}
