/* redefine theme colors for valladolid theme */

:root,
:root.theme-valladolid {
  $primary: #002161;
  $body-color: #444444;
  $body-bg: #004C98;
  $body-bg-dark: #063564;

  $theme: (
    "primary": $primary,
  );
  $theme-colors: map-merge($theme-colors, $theme);

  /* redefine theme color variables */
  @each $color, $value in $theme-colors {
    --#{$prefix}#{$color}: #{$value};
  }

  $theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");

  @each $color, $value in $theme-colors-rgb {
    --#{$prefix}#{$color}-rgb: #{$value};
  }

  // scss-docs-start btn-variant-loops
  @each $color, $value in $theme-colors {
    .btn-#{$color} {
      @if $color == "light" {
        @include button-variant(
          $value,
          $value,
          $hover-background: shade-color($value, $btn-hover-bg-shade-amount),
          $hover-border: shade-color($value, $btn-hover-border-shade-amount),
          $active-background: shade-color($value, $btn-active-bg-shade-amount),
          $active-border: shade-color($value, $btn-active-border-shade-amount)
        );
      } @else if $color == "dark" {
        @include button-variant(
          $value,
          $value,
          $hover-background: tint-color($value, $btn-hover-bg-tint-amount),
          $hover-border: tint-color($value, $btn-hover-border-tint-amount),
          $active-background: tint-color($value, $btn-active-bg-tint-amount),
          $active-border: tint-color($value, $btn-active-border-tint-amount)
        );
      } @else {
        @include button-variant($value, $value);
      }
    }
  }

  @each $color, $value in $theme-colors {
    .btn-outline-#{$color} {
      @include button-outline-variant($value);
    }
  }
  // scss-docs-end btn-variant-loops

  --#{$prefix}body-color: #{$body-color};
  --#{$prefix}body-bg: #{$body-bg};
  --#{$prefix}body-bg-rgb: #{to-rgb($body-bg)};
  --#{$prefix}body-bg-dark: #{$body-bg-dark};
  --#{$prefix}body-bg-dark-rgb: #{to-rgb($body-bg-dark)};


  // COLORS COMPONENTS
  // scss-docs-start sidebar
  --sidebar-color: #c00929;
  // scss-docs-end sidebar
}
